<h1 style="text-align: center;">Hendrix</h1>

{{#each businesses as |business|}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title" id="{{business.business_id}}">{{business.name}}</h5>
        <div>Rating: {{star_rating business.totalRating}}</div>
<<<<<<< HEAD
        <div >{{business.imageUrl}}</div>
       <p class="card-title" id="listDescription">{{business.description}}</p>
       <button>VIEW</button>
       {{/each}}
=======
        <div>{{business.imageUrl}}</div>
        <p class="card-title" id="listDescription">{{business.description}}</p>
        <button>VIEW</button>
>>>>>>> 9e4ec000bac50addf7a6a7ec248eb57bfd349433
    </div>
</div>
{{/each}}