<h1 style="text-align: center;">Hendrix</h1>
<div class="container" style="margin-top: 5%;text-align: center;">
    <h1 id="business_name">{{business.name}}</h1>
    <p id="description">{{business.description}}</p>
    <button href="/write_review">Leave a review</button>
    <h2 style="margin-top: 5%">Review</h2>
    <div class="card" style="width: 18rem;">

        {{#each business.reviews as |review|}}
        <div class="card-body">
            <h5 class="card-title" id="userName">{{review.reviewer.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted" id="date">{{review.createdAt}}</h6>
            <p class="card-text" id="reviewContent">{{review.review}}</p>
            <p>Star rating: {{star_rating review.rating}}</p>
            <a class="deleteReview" id="{{review.review_id}}" href="" class="card-link">delete</a>
        </div>
        {{/each}}

    </div>
    <button id="chat"><a href="http://localhost:3000/chatroom">Chat Here</a></button>
</div>
<script type="text/javascript" src="/js/deletereview.js"></script>