<div class="container">
    <div style="text-align: center;"><img id="frontLogo"
            src="https://api.freelogodesign.org/files/12d3fe6a97424dd397f175ad3e6f39b8/thumb/logo_200x200.png?v=0" />
    </div>
    {{!-- <h1 style="text-align: center;">Hendrix</h1> --}}
    <div class="container" style="margin-top: 5%;text-align: center;">
        <h1 id="business_name">{{business.name}}</h1>
        <p id="description">{{business.description}}</p>
        <a href="#reviewForm" id="writeReview">Write Review</a>
        <h2 style="margin-top: 5%">Review</h2>
        <div class="card" style="width: 18rem;">

            {{#each business.reviews as |review|}}
            <div class="card-body">
                <h5 class="card-title" id="userName">{{review.reviewer.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted" id="date">23/03/2021</h6>
                <p class="card-text" id="reviewContent">{{review.review}}</p>
                <p>Star rating: {{star_rating review.rating}}</p>
                <a href="#" class="card-link">edit</a>
                <a href="#" class="card-link">delete</a>
            </div>
            {{/each}}


        </div>

        <div class="container" style="margin-top: 15%;" id="reviewForm">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="border-style: solid;">
                    <form style="margin-left: 3%;">
                        <div class="form-group" >
                            <h3 for="reviewTitle" >Title</h3>
                            <input type="text" class="form-control" name="reviewTitle" id="reviewTitle"
                                placeholder="title">
                        </div>

                        <div class="star_rating" style="margin-top: 3%;" >
                            <span class="heading" style="text-align: left;">User Rating</span>
                            <span>
                                <input type="radio" name="rate" id="5star"></input>
                                <label for="5star" class="fas fa-star"></label>
                            </span>
                            <span>
                                <input type="radio" name="rate" id="4star"></input>
                                <label for="4star" class="fas fa-star"></label>
                            </span>
                            <span>
                                <input type="radio" name="rate" id="3star"></input>
                                <label for="3star" class="fas fa-star"></label>
                            </span>
                            <span>
                                <input type="radio" name="rate" id="2star"></input>
                                <label for="2star" class="fas fa-star"></label>
                            </span>
                            <span>
                                <input type="radio" name="rate" id="1star"></input>
                                <label for="1star" class="fas fa-star"></label>
                            </span>
                        </div>
                        <div class="form-group" style="margin-top: 5%;">
                            <h3 for="comment">Comment</h3>
                            <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>

                        </div>
                    </form>



                    <button type="submit" href="./search.html" class="btn btn-primary"
                        style="margin-top: 3%;">Submit</button>
                    <script src="/js/createreview.js"></script>
                    {{!-- <button id="chat">Chat Here</button> --}}
                </div>
            </div>
        </div>
    </div>